[Unit]
Description=Garage Door Opener

[Service]
ExecStart=/usr/bin/twistd --nodaemon --pidfile= -y /home/pi/garage-door/gdo.py

User=pi
Group=pi


[Install]
WantedBy=multi-user.target
